@mixin setSubmittedTitle {
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 3rem;
	width: 288px;
	height: 37px;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 32px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-decoration-line: underline;
	background: inherit;
	color: #fe3b1f;
}

@mixin dateInputsStyles {
	height: 54px;
	width: 455px;
	left: 166px;
	top: 736px;
	border-radius: 0px;
}

@mixin makeBackgroundWhite {
	background-color: white;
}

@mixin correctSubmittedAppDivs {
	margin-bottom: 3rem;
	margin-left: 2rem;
}
